body{
	color:burlywood;
	margin-left: auto;
	margin-right: auto ;
}
footer{
	background-color: #333333;
	text-align: center;
}
div#content div.leftbox{
	vertical-align: top;
	font-family:arial, sans-serif;
	font-size:90%;
	font-style: italic;
}
div#content div.leftbox p{
	font-size: large;
	font-family: 'Trebuchet MS', sans-serif;
}
div#content div.rightbox{
	margin: 10px;
}
div#content div.rightbox p{
	font-size: large;
	font-family: 'Trebuchet MS', sans-serif;
}
div#content div{
	display: inline-block;
	width: 48%;
}
div#content div h1,p ,img{
	margin: 35px;
}
#rm{
	text-align: center;
	font-size: 50px;
}