html{
	background-color: #81D4FA;
	height: auto 
	white: auto;
}
h1{
	color:#A1887F;
}
#ul1{
list-style-type: none;
margin: auto;
padding: auto;
overflow: hidden;
background-color: #00B0FF;
height: auto;
border:solid;
margin-right: auto;
margin-left: auto;
}
#li1{
display: inline;
}
#aLi1{
text-align: center;
margin-left: auto;
margin-right: auto;
margin-top: 10px;
margin-bottom: 10px;
color: white;
text-decoration: none;
font-size: 25px;
}	
.Map img{	
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	border:solid;
}
#imgMap{
	margin-left:auto;
	margin-top:10px;
}
