html{
	background-color: #81D4FA;
}
h1{
text-align: center;
text-decoration: underline;
}
img{
	margin-left: 550px;
}
p{
	text-align: center;
	font-size: 50px;
}
#rm{
	text-align: center;
	font-size: 50px;
}